.outerdiv {

    height: auto;
    margin-left: 280px;
    margin-top: 50px;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 0px 3px 22px -11px rgb(14, 96, 2);

}

.heading1 {
    font-size: larger;
    text-align: center;
    margin-left: 40%;
    text-decoration: underline;
}

.column {
    background-origin: padding-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.priority-box {

    margin-left: 30px;
}

.taskname2 {

    position: relative;
    right: 30px;
}