.outerdiv {

    height: auto;
    margin-left: 280px;
    margin-top: 80px;
    width: 60vw;
    border-radius: 10px;
    box-shadow: 0px 3px 22px -11px rgb(14, 96, 2);

}

.heading1 {
   
    font-size: larger;
    text-align: center;
    margin-left: 40%;
    text-decoration: underline;
}

.column {
    position: relative;
    top: 5px;
    background-origin: padding-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.priority-box {

    margin-left: 30px;
}

.taskname2 {

    position: relative;
    right: 30px;
    height: 20px;
    align-items: center;
    text-align: center;

}
.taskname2:hover {
    border-radius: 20px;
    
    background-color:#c6c8df;
    width: 100px;
    text-align: center;
}
.outer-box {
    
    min-height: 100vh
    
}

.searchinput {
    box-shadow: rgba(42, 38, 38, 0.35) 0px 5px 15px;
    background-color: #c6c8df;
    width: 100vw;
    height: 44px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;


}
.search-text {
    margin-left: 500px;
    width: 400px;
    height: 40px;

}
button {
    height: 40px
}



.button-37 {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  right:300px;
    top:20px;
    float:right
}

.button-37:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}



.labelitem:hover{
    border-radius: 20px;
    position: relative;
    
    background-color:#c6c8df;
    width: 100px;
    text-align: center;
}